

.content {
  padding-top: 60px;
}

.centerLoading {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

#outer {
  width: 100%;
  height: 100vh;
  display: flex;
}

#inner {
  margin: auto;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
}

main {
  flex: 1;
}

.footerLinks {
  font-size: 0.8rem;
}